
.disappear {
	display:none;
}

#mainSection{
	text-align: center;
	font: arial, sans-serif;
	background-color: white;
	margin-top: 50px;
	padding: 50px;

}

#timer{
	font: bold 35px arial, sans-serif;
	color: black;
}


p{
	margin: 10px;
}

button{
	margin: 5px;
}

body{
	background-image: url("../images/qmarks.jpg");
}